.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    padding: .5rem;
    outline: none;
    border-image-source: linear-gradient(rgba(255, 136, 0, 0.5), rgba(209, 2, 195, 0.5));
    border-width: 5pt;
    border-image-slice: 1;
    border-radius: .65rem;
    margin: 10px 0;
}